{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <p>Это сборник решений по задачнику,
    <p>"Сборник задач по backend-разработке для начинающих"
    <p>Глеба Кушедова, за что ему искренняя благодарность
    <p>У сборника задач есть телеграм канал – там живут новости и решения.
    <p>https://t.me/practice_backend
    <p>
    <p>Сборник решений в меру своих скромных сил написал Mr.K (aka Kirill.S)</p>
    <form action="/poscounter" method="post" class="form-contact">
        <p><label>Name: </label> <input type="text" name="username" value="" required />

        <p><input type="submit" value="Push me if you want" />
    </form>
{% endblock %}